# Defina o ambiente
NODE_ENV=development
LOG_LEVEL=debug
PROJECT_NAME=AlexandroMexBackend

# App
APP_NAME=AlexandroMexBackend
APP_PORT=3001
JWT_SECRET=7kN9mP2qR5tW8xA1bC4dE6fG9hJ2kL5nM8pQ1rS4tU7vW0xY3zA6BYF4JlcM
HASH_SALT_ROUNDS=12
JWT_EXPIRATION=2h
JWT_REFRESH_EXPIRATION=7d

# Sentry:
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_AUTH_TOKEN=
SENTRY_URL=
SENTRY_ORG=
SENTRY_PROJECT=

# Comando de inicialização
#COMANDO PARA SERVIDOR EM PRODUÇÃO NA NUVEM:
#COMMAND=npx prisma migrate deploy && npx prisma generate && node dist/seed.js && npm run start:prod:docker 
#COMANDO PARA SERVIDOR LOCAL DE DESENVOLVIMENTO:
COMMAND=npm run start:dev

# Comando de paralelização do Docker Compose file:
COMPOSE_BAKE=true
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
COMPOSE_PARALLEL_BUILD=1

# PostgreSQL
POSTGRES_CONTAINER_NAME=alexandro-mex-postgres
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres_user
POSTGRES_PASSWORD=postgres_password_123
POSTGRES_DB=alexandromexdb
POSTGRES_PORT=5432
SCHEMA=public
DB_POOL_MAX=10
DB_POOL_MIN=2
DB_CONNECTION_TIMEOUT=10000
DB_IDLE_TIMEOUT=30000

# REDIS:
REDIS_CONTAINER_NAME=alexandro-mex-redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# URLs de conexão
DATABASE_URL="postgresql://postgres_user:postgres_password_123@localhost:5432/alexandromexdb?schema=public"
FRONTEND_URL=http://localhost:5173

# SMTP
SMTP_EMAIL=pedro.amaro@injunior.com.br
SMTP_PASSWORD=prah uboy xshv yubu
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=true